 <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper">
      <article class="page">
  <div class="post-content">
    <header>
      <h1>友情链接</h1>
      <br>
      <p>
        <ul>
            <li> <a href="http://snowy.in">Snowy</a></li>
        </ul>
       
      </p>
    </header>
    
  </div>
</article>


</div></div>
    <div class="clearfix"></div>
  </div>